#glb_main {
  width: 100%;
  #glb_body {
    #content_container {
      padding: 50px 0 50px 0;
      overflow: scroll;
      margin: 0 auto;
      width: 1170px;
      .content {
        float: left;
        padding-top: 12px;
        section#recommend {
          ul.top_images {
            width: 620px;
            li {
              padding: 18px 0 18px 18px;
              list-style: none;
              display: flex;
              border-bottom: 1px solid #ddd;
              width: 100%;
              .image_container {
                p.img {
                  .img_top {
                    width: 280px;
                    height: 187px;
                  }
                }
              }
              .recipe_txt_box {
                padding-left: 20px;
                .title {
                  font-size: 22px;
                  line-height: 26px;
                  letter-spacing: 0.07em;
                }
                .recipe_txt {
                  margin-top: 16px;
                  font-size: 20px;
                  letter-spacing: 0.05em;
                  color: #666;
                }
              }
            }
          }
        }
      }

      #side_bar {
        float: left;
        width: 200px;
        .side_header {
          border-bottom: 1px solid #ddd;
          h2.head{
            font-size: 20px;
          }
        }
        .side_header_list {
          ul {
            margin: 0;
            padding: 0;
            li {
              padding-top: 12px;
              list-style: none;
              
              a {
                font-size: 14px;
                color: #666;
                text-decoration: none;
              }
              a:hover {
                color: #f5b561;
              }
            }
          }
        }
        .side_header_link {
          ul {
            margin: 0;
            padding: 0;
            li {
              padding-top: 12px;
              list-style: none;
              a {
                font-size: 14px;
                color: #666;
                text-decoration: none;
              }
              a:hover {
                color: #f5b561;
              }
            }
          }
        }
      }
    }
  }
}
