#glb_main {
  width: 100%;
  #glb_body {
    #content_container {
      padding: 50px 0 50px 0;
      overflow: scroll;
      margin: 0 auto;
      width: 70%;
      .content {
        float: right;
        padding-top: 12px;
        margin-right: 175px;
        width: 70%;
        section#search_menu {
          padding-left: 58px;
          .menu_tit {
            p {
              font-size: 20px;
            }
          }
          ul.menu {
            display: flex;
            list-style: none;
            li {
              display: inline-block;
              min-width: 60px;
              margin-right: 15px;
              border: 1px solid #ff9e3d;
              border-radius: 15px;
              text-align: center;
              a {
                color: #ff9e3d;
                text-decoration: none;
              }
            }
            li:hover {
              transition: 0.5s ;
              background: #ff9e3d;
              a {
                color: #eee;
              }
            }
          }
        }
        section#search_area {
          padding-left: 58px;
          .area_tit {
            p {
              font-size: 20px;
            }
          }
          ul.area {
            display: flex;
            list-style: none;
            li {
              display: inline-block;
              min-width: 60px;
              margin-right: 15px;
              border: 1px solid #ff9e3d;
              border-radius: 15px;
              text-align: center;
              a {
                color: #ff9e3d;
                text-decoration: none;
              }
            }
            li:hover {
              transition: 0.5s;
              background: #ff9e3d;
              a {
                color: #eee;
              }
            }
          }
        }
        section#recommend {
          .recomend_tit {
            padding-left: 58px;
            margin-top: 24px;
            font-size: 20px;
          }

          ul#index_top_images {
            margin-top: 24px;
            margin-left: 18px;
            display: flex;
            justify-content: space-between;
            li {
              list-style: none;
              .image_container {
                p.img {
                  .img_top {
                    width: 150px;
                    height: 150px;
                  }
                }
              }
              .recipe_txt_box {
                text-align: center;
                .title {

                }
              }
            }
          }
          /*ul#top_images.change {
            width: 620px;
            background: red;
            li {
              padding: 18px 0 18px 18px;
              list-style: none;
              display: flex;
              border-bottom: 1px solid #ddd;
              width: 100%;
              .image_container {
                p.img {
                  .img_top {
                    width: 280px;
                    height: 187px;
                  }
                }
              }
              .recipe_txt_box {
                padding-left: 20px;
                .title {
                  font-size: 22px;
                  line-height: 26px;
                  letter-spacing: 0.07em;
                }
                .recipe_txt {
                  margin-top: 16px;
                  font-size: 20px;
                  letter-spacing: 0.05em;
                  color: #666;
                }
              }
            }
          }*/
        }
        #toggle_box {
          border: solid 1px #CCC;
          width: 50px;
          height: 20px;
          margin-left: 58px;
          margin-top: 12px;
          border-radius: 30px;
          box-shadow: 2px 2px 5px rgba(0,0,0,0.4) inset;
          background-color: red;
          transition: all 300ms 0s ease;
        }
        #toggle_box.act{
          background-color: blue;
          transition: all 300ms 0s ease;    
        }
        #toggle_box.act .block{
          left: 30px;
          transition: all 300ms 0s ease;
        }
        
        .block { 
            transition: all 300ms 0s ease;
            position: relative; 
            border: solid 1px #eee;
            background: #eee;
            box-sizing: border-box;
            left: 0px;
            width: 18px; 
            height: 18px;
            border-radius: 30px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
        }
      }
//-------------------side_bar-------------------------//
      #side_bar {
        float: left;
        width: 200px;
        .side_header_search {
          
          h2.header_title {
            font-size: 20px;
            border-bottom: 1px solid #ff9e3d;
            padding-bottom: 12px;
          }
          .new_title {
            margin-top: 12px;
            width: 100%;
            border: 1px solid #333;
            border-radius: 5px;
          }
        }
        .side_header_area_list {
          h2.area_title {
            font-size: 20px;
            border-bottom: 1px solid #ff9e3d;
            margin-top: 24px;
            padding-bottom: 12px;
          }
        }
        .side_header_category_list {
          h2.category_title {
            font-size: 20px;
            border-bottom: 1px solid #ff9e3d;
            margin-top: 24px;
            padding-bottom: 12px;
          }
        }
        .side_header_button_list {
          width: 75%;
          margin: 12px auto 0;
          .narrow_down {
            background: #ff9e3d;
            border-radius: 15px;
            align-items: center;
            text-align: center;
            a {
              text-decoration: none;
              color: #fff;
            }
          }
          .reset_items {
            margin-top: 12px;
            background: #aaa;
            border-radius: 15px;
            text-align: center;
            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
