#glb_main {
  width: 100%;
  #glb_body {
    width: 100%;
    #content_container {
      padding: 0 0 50px 0;
      overflow: scroll;
      .content {
        float: right;
        width: 1175px;
        section#recommend {
          margin-left: -20px;
          ul.top_images {
            li {
              float: left;
              margin: 18px 0 18px 18px;
              border: 1px #ddd solid;
              background: #fff;
              border-radius: 3px;
              list-style: none;
              .image_container {
                p.img {
                  .img_top {
                    width: 336px;
                    height: 252px;
                  }
                }
              }
              .profile {
                padding-left: 10px;
                .content {
                  width: 156px;
                  float: left;
                  .left_icon {
                    width: 32px;
                    float: left;
                    .profile_icon {
                      width: 32px;
                      height: 32px;
                      border-radius: 50%;
                    }
                  }
                  .right_name {
                    width: 114px;
                    float: right;
                    .name {
                      font-size: 13px;
                      line-height: 2.4;
                      font-weight: bold;
                      a {
                        color: #333;
                      }
                    }
                  }
                }
                .btn_block {
                  float: right;
                  .btn_like {
                    font-size:16px;
                    .btn {
                      font-size: 9px;
                      padding-top: 1px;
                      padding-bottom: 4px;
                      a {
                        display: block;
                        padding: 8px 0 8px 0;
                        text-align: center;
                        text-decoration: none;
                        background: #999;
                        color: #fff;
                        font-weight: bold;
                        border: 1px #999 solid;
                        border-radius: 2px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #side_bar {
        height: 100vh;
        
        float: left;
        .side_header {
          width: 200px;
          p {
            width: 100px;
            height: 100px;
            text-align: center;
            font-size: 20px;
            line-height: 100px;
            margin: 0 auto;
            a {
              font-family: "kssweetheavycalligraphy";
              font-size: 30px;
              color: rgb(0, 0, 0);
              text-decoration: none;
            }
            a:hover {
              color: rgb(255, 0, 0);
              transition: 1s;
            }
          }
        }
        .side_main {
          ul {
            li {
              padding-top: 24px;
              list-style: none;
              a {
                font-size: 15px;
                color: #666;
              }
            }
          }
        }
      }
    }
  }
}
