#show_content {
  .top_photo {
    width: 960px;
    height: 350px;
    background-image: url(~mati-cyuuka-top.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .top_content {
    display: flex;
    .left_content {
      height: 300px;
      width: 70%;
      margin-left: 44px;
      position: relative;
      .like_content {
        .like_btn {
          .link_like {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
      .shop_tit {
        padding-top: 15px;
        font-size: 20px;
        font-weight: bold;
      }
      .shop_address {
        font-size: 14px;
        color: #666;
      }
      .shop_text {
        color: #333;
        padding-top: 30px;
      }
    }
    .right_content {
      width: 30%;
      .shop_mouth {
        height: 30%;
        width: 75%;
        border: solid 2px #F0D6AC;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 25px;
        ul.shop_rating {
          margin-top: 15px;
          margin-left: -10px;
          .fa-star {
            color: orange;
          }
        }
        .write_shop_mouth {
          margin-left: 30px;
          display: flex;
          a {
            text-decoration: none;
            color: #333;
          }
          .number_of_mouth {

          }
        }
      }
      .shop_info {
        height: 30%;
        width: 75%;
        border: solid 2px #F0D6AC;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 25px;
        .info_tit {
          text-align: center;
          margin-top: 15px;
          p {
          } 
        }
        .info_hide {
          display: none;
        }
        .more_shop_info {
          font-size: 14px;
          margin: 20px auto;
          display: block;
          background-color: #ff9e3d;
          color: #fff;
          padding:10px 15px;
          border: none;
          outline: 0;
          transition: .5s;
        }
        button.more_shop_info::after {
          content: "もっと見る";
          transition: .2s;
          }
        button.more_shop_info.on-click::after{
          content: "閉じる";
          background-color: red;
        }

      }
      .shop_hours {
        height: 30%;
        width: 75%;
        border: solid 2px #F0D6AC;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 25px;
      }
    }
  }
  .bottom_content {
    padding-top: 36px;
    .tab_content {
      padding: 0;
      margin-left: 44px;
      width: 70%;
    }
    ul.shop_menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      li {
        cursor: pointer;
        width : calc(100% / 3);
      }
      li .menu_item {
        display: inline-block;
        font-size: 14px;
        width : 100%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        padding: 7px;
        color: #333;
      }
      li .active {
        width : 100%;
        background: #F0D6AC;
        color: #333;
        height: 28px;
      }
    }
    ul.shop_menu li :not(.active):hover {
      opacity: 0.5;
      transition: .8s;
    }
    ul.menu_details {
      padding: 0;
      margin-bottom: 0;
      li {
        list-style: none;
        font-size: 14px;
        padding: 7px 10px;
        line-height: 1.4;
        color: #333;
        min-height: 150px;
        display: none;
        background: #F0D6AC;
      }
      li.show {
        display: block;
      }
    }
  }
  }

    
      .like_btn {
        font-size: 15px;
        color: #808080;
        
      }
      .unlike_btn {
        font-size: 15px;
        color: #e54747;
      }
 

