.profile_container{
  padding-top: 74px;
  margin: 0 auto;
}

.round-img{
  border-radius:50%;
  width: 150px;
}

.profile_main {
  width: 600px;
  h1 {
    font-size: 28px;
    font-weight: normal;
    margin-top: 10px;
  }
}

.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.setting {
  background-image: url("~parts4.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  margin: 18px 0 0 10px;
  background-size: 22px!important;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

ul.row{
  display: flex;
  padding: 9px 0 3px 0;
  li {
    list-style: none;
    padding-right: 25px;
  }
}
