#glb_header {
  background: #BB1C33;
  #glb_header_top {
    width: 1170px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    .header_tit {
      a {
        font-family: "kssweetheavycalligraphy";
        font-size: 45px;
        color: #eee;
        text-decoration: none;
      }
    }
    .log_in {
      display: table;
      padding-top: 30px;
      ul {
        li {
          display: table-cell;
          padding: 0 16px;
          a {
            color: #eee;
            font-size: 16px;
            font-weight: 800;
            text-decoration: none;
          }
        }
      }
      
      
    }
  }
  #glb_header_bottom {
    .search_section {
      height: 350px;
      background-image: url(~mati-cyuuka-top.jpeg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      ul {
        max-width: 1170px;
        padding-top: 62px;
        margin-left: 300px;
        text-decoration: none;
        li {
          list-style: none;
          p {
            color: #BB1C33;
            font-size: 72px;
            text-decoration: none;
            font-family: "kssweetheavycalligraphy";
          }
          #search_icon {
            color: gray;
          }
          .header_search {
            .search_form {
              .search_input {
                width: 720px;
                height: 45px;
                color: #323232;
                font-size: 12px;
                border: none;
                border-radius: 5px;
                padding: 6px 30px 4px 14px;
              }
              .search_input:focus {
                outline:0;
              }
              .search_btn {
                border: none;
                outline: none;
                background: transparent;
                position: relative;
                top: 0px;
                right: 30px;
              }
            }
            
          }
        }
      }
    }
  }
}





