nav {
  ul.pagination {
    justify-content: center;
    li {
      a {
        border: none;
        color: #666; 
      }
      a:hover {
        border-radius: 3px;
        background: #ff9e3d;
        color: #fff;
      }
      .page-link {
        border-radius: 3px;
        background-color: #f6f7f8;
      }
    }
    li.page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: #ff9e3d;
      border-color: #ff9e3d;
      a {
        background: #ff9e3d;
        border-radius: 3px;
        }
    }
  }
}









