nav#glb_header {
  width: 100%;
  background: #fff;
  line-height:1;
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
  #glb_header_bar {
    width: 100%;
    height: 54px;
    box-shadow:0 2px 8px rgba(30,30,80,.3); 
    #container {
      height: 54px;
      margin: 0 175px;
      display: flex;
      justify-content: space-around;
      #hdr_search {
        form.search_form {
          .search_input {
            border: 1px #ddd solid;
            border-radius: 3px;
            background: #f5f5f5;
            margin-top: 10px;
            font-size: 13px;
            width: 250px;
            height: 36px;
            text-align: center;
            line-height: 36px;
          }
          .search_btn {
            border: 1px #ddd solid;
            border-radius: 3px;
            background: #f5f5f5;
            font-size: 13px;
            width: 75px;
            height: 36px;
            line-height: 32px;
            color: #666;
          }
        }
      }
      h1.logo {
        line-height: 1.5;
        padding-left: 50px;
        a {
          color: #333;
          text-decoration: none;
        }
      }
      .no_login {
        width: 300px;
        line-height: 60px;
        text-align: right;
        .login {
          font-size: 14px;
          display: inline-block;
          a {
            color: #666;
            text-decoration: none;
          }
        }
        .regist {
          font-size: 14px;
          display: inline-block;
          margin: 0 0 0 27px;
          a {
            color: #666;
            text-decoration: none;
          }
        }
      }
    }
  }
}
