<nav id="glb_header">
  <div id="glb_header_bar">
    <div id="container">
      <div id="hdr_search">
        <div id="search_form">検索する</div>
      </div>
      <h1 class="logo">
        <%= link_to "COOCING", root_path %>
      </h1>
      <div class="no_login">
        <p class="login">
          <% if user_signed_in? %>
            <%= link_to "ログアウト",  destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </p>
        <p class="regist">
          <%= link_to "新規登録", new_user_registration_path, method: :get %>
        </p>
      </div>    
    </div>
  </div>
</nav>

