@import "reset.scss";
@import "~bootstrap/scss/bootstrap";
//@import 'font-awesome-sprockets';
//@import 'font-awesome';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "layouts/navbar";
@import "layouts/footer";
@import "users/devise";
@import "users/show";
@import "users/edit";
@import "posts/index";
@import "posts/new";
@import "posts/show";
@import "posts/comment";


@font-face {
  font-family: "kssweetheavycalligraphy";
  src: url("../fonts/kssweetheavycalligraphy.ttf");
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#wrapper {
  background: #f6f7f8;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}


