@import "reset.scss";
@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "layouts/header";
@import "layouts/footer";
@import "users/devise";
@import "users/index";
@import "users/show";
@import "users/edit";
@import "posts/index";
@import "posts/new";
@import "posts/show";
@import "posts/search";
@import "layouts/kaminari";


@font-face {
  font-family: "kssweetheavycalligraphy";
  src: url("../fonts/kssweetheavycalligraphy.ttf");
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#wrapper {
  font-family: YuGothic, 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', 'Osaka', 'ＭＳ ゴシック', "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  background: #f6f7f8;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}




