<% post.comments.each do |comment| %>
  <div class="comment_box">
    <div class="comment_user">
      <%= link_to comment.user.name, user_path(comment.user), class: "comment_user_name" %>
    </div>
    <div class="comment_comment">
      <%= comment.comment %>
    </div>
    <% if comment.user == current_user %>
      <%= link_to post_comment_path(post.id, comment), method: :delete, remote: true, class:"delete_comment text-danger" do%>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
