<div class="nested-fields">
  <%= f.text_field :ingredient, class: "link_incredient" %>
  <%= f.text_field :quantity, class: "link_quantity" %>
  <%= link_to_remove_association "削除", f, class: "incredietns_delete_btn" %>
</div>
