<div class="recomend_tit">
  #ピックアップ
</div>
<div id="toggle_box">
  <div class="block"></div>
</div>
<ul id="index_top_images" >
  <% @shop_infos.each do |shop_info| %>
    <li>
      <div class="image_container">
        <p class="img">
          <%= link_to "詳細", shop_admin_path(shop_info) %>
        </p>
      </div>
      <div class="recipe_txt_box">
        <div class="title">
          <%= shop_info.store_name %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate @shop_infos, remote: true %>
