<div class="shop_info">
  <div class="info_tit">
    <p>お店からのお知らせ</p>
  </div>
  <div class="info_item">
    ここに「もっと見る」ボタンをクリックで表示するテキストを入力します。
  </div>
  <a class="more_shop_info " >+ 続きを読む</a>
  
</div>

