<div class="shop_mouth">
  <ul class="shop_rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="score">(4.5)</i>
  </ul>
  <div class="write_shop_mouth">
    <%= link_to "口コミを書く" %>
    <div class="number_of_mouth">
      (34件)
    </div>
  </div>
</div>
<div class="shop_info">
  <div class="info_tit">
    <p>お店からのお知らせ</p>
  </div>
  <div class="info_item">
    ここに「もっと見る」ボタンをクリックで表示するテキストを入力します。
  </div>
  <a class="more_shop_info " >+ 続きを読む</a>
</div>
<div class="shop_hours">
  <ul class="shop_day">
    <li>月</li>
    <li>火</li>
    <li>水</li>
    <li>木</li>
    <li>金</li>
    <li>土</li>
    <li>日</li>
  </ul>
  <div class="more_hours">
      営業時間を見る
  </div>
  <ul class="shop_hour">
    <li>月  10:00~18:00</li>
    <li>火  10:00~18:00</li>
    <li>水  10:00~18:00</li>
    <li>木  10:00~18:00</li>
    <li>金  10:00~18:00</li>
    <li>土  10:00~18:00</li>
    <li>日  10:00~18:00</li>
  </ul>
</div>

