<div id="side_bar">
  <div class="side_header">
    <h2 class="head">
      探す
    </h2>
  </div>
  <div class="side_header_list">
    <ul>
      <li>
        <%= link_to "メニューから探す" %>
      </li>
      <li>
        <%= link_to "エリアから探す" %>
      </li>
    </ul>
  </div>
  <div class="side_header_link">
    <ul>
      <li>
        <%= link_to "レシピを投稿する", new_post_path %>
      </li>
      <li>
        <%= link_to "プロフィールを編集", edit_user_registration_path %>
      <li>
    </ul>
  </div>
</div>
  
