<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="content_container">
      <h2>ハッシュタグ #<%= @tag.hashname %></h2>
      <ul>
        <% @posts.each do |post| %>
            <%= render_with_hashtags(post.caption) %>
          <li>
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.photos.first.image.url, size: '240x240' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
