<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <%= render partial: 'partial/header' %>
    <div id="content_container">
      <%= render partial: 'posts/side_bar' %>
      <div class="content">
        <%= render partial: 'posts/post' %>
      </div>
    </div>
  </div>
</div>


