<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="glb_header">
      <%= render partial: "partial/header_top" %>
    </div>
    <div id="content_container">
      <%= render partial: 'posts/search_side_bar' %>
      <div class="search_item_content">
        <section id="recommend" >
          <%= render partial: 'posts/search_main' %>
        </section>
      </div>
    </div>
  </div>
</div>
