.main {
  width: 100%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  background-image: url(~top-view.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.form-wrap{
  margin: 0 auto;
  text-align: center;
}

.form-group {
  width: 300px;
  padding-top: 50px;
  margin: 0 auto;
  a.guest_btn {
    font-family: "kssweetheavycalligraphy";
    font-size: 30px;
    color: rgb(255,0,0);
  }
  a.guest_btn:hover {
    color: rgb(29, 20, 158); 
    transition: 0.5s;
    text-decoration: none;
  }
}


.top_title {
  font-family: "kssweetheavycalligraphy";
  font-size: 150px;
  color: rgb(255, 0, 0);
}

.logo-img {
  background-repeat: no-repeat;
  height: 56px;
  width: 180px;
  background-size: 160px;
  background-size: 180px!important;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
}
